﻿@{
    ViewBag.Title = "Home Page";
}

<div class="alert alert-warning" data-bind="slideVisible: TotalCosts() > 100">
    Woops, your going over budget now. 
</div>


<table class="table table-striped employee-overview">
    <tr>
        <td>Name</td>
        <td>Hours</td>
        <td>Costs per hour</td>
        <td>Total Costs</td>
    </tr>
    <tbody data-bind="foreach: employees">
        <tr>
            <td data-bind="text: Employee"></td>
            <td>
                <input class="form-control" name="number" data-bind="value: Hours" />
            </td>
            <td>
                <input class="form-control" name="number" data-bind="value: Costs" />
            </td>
            <td>
                <span class="alert alert-success" data-bind="textHighlightChange: TotalCosts"></span>
            </td>
        </tr>
    </tbody>
    <tr class="totals">
        <td>Total</td>
        <td data-bind="text: TotalHours"></td>
        <td></td>
        <td>
            <span class="alert" 
                  data-bind="textHighlightChange: TotalCosts, 
                    css: { 'alert-warning': TotalCosts() > 100, 'alert-success' : TotalCosts() <= 100 }"></span>
        </td>
    </tr>
</table>

<button class="updateCosts btn btn-default">Update costs of EmployeeId 2</button>